
body{
  font-family: Arial, Helvectica, sans-serif;
  font-size: 100%;
  width: 900px;
  margin: 0 auto;
  border: 4px steelblue solid;
  box-shadow: 5px 5px 5px 15px rgba (0, 0, 0, 0.3);
}
a:focus, a:hover{
  color: blue;
}
a{
  color: maroon;
}
.shadow{
  text-shadow: 2px 2px 2px steelblue;
}
header img{
  float: left;
}
main{
  clear: left;
}
header h1{
  font-size: 250%;
  color: steelblue;
  text-indent: 75px;
  font-style: italic;
}
header h2{
  font-size: 150%;
  text-indent: 175px;
}
ul li{
  margin-bottom: 15px;
}
ul li a {
  color: steelblue;
  font-weight: bold;
}
ul li a:hover {
  color: maroon;
}
footer{
  font-size: 75%;
  text-align: center;
}
